<h1>Edit Comment</h1>
<form method="post" action="/comments/<%= @comment.id %>/update">
  <textarea placeholder="<%= @comment.comment_content %>" name="comment_content"></textarea><br>
  <input type="submit" value="edit">
</form>
