<h1>Create Post</h1>
<form method="post" action="/users/<%= @user.id %>/posts/new">
  <textarea placeholder="write your comment here" name="post_content"></textarea><br>
  <input type="submit" value="post">
</form>
