<h1>Edit Post</h1>
<form method="post" action="/posts/<%= @post.id %>/update">
  <textarea placeholder="write your post here" name="post_content"></textarea><br>
  <input type="submit" value="edit">
</form>
